body
{
    background-color: #efefef;    
    font-family: 'oxygen' !important;
    
}

.clear
{
    clear: both;
}

.icons-align
{
    display: block;
    text-align: right;
    
}

.background-inner
{
    padding-top: 15px;
    
    
}   

@font-face 
{
   
	font-family: 'oxygen';
	src: url('../Oxygen/Oxygen-Regular.woff') format('woff');
	
}


@font-face
{
    font-family:'oxygen-bold';
    src:url('../Oxygen/Oxygen-Bold.woff') format('woff');
}

@font-face
{
    font-family:'oxygen-light';
    src:url('../Oxygen/Oxygen-Light.woff') format('woff');
}

.light-font
{
    font-family:   'oxygen-light'; 
}


h1
{
    font-family:'oxygen-bold';   
    font-size: 3.0em;
    color:white;
    text-transform: uppercase;
    font-weight: bolder;
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: url("../images/fleck-white.gif");
    background-position:bottom;
    background-size:cover;*/
    
}

p
{
    color:white;
    font-family:'oxygen';
    font-size: 1em;
}

h2
{
    color:#16A5A1;  
    font-family:'oxygen-bold';
    /*font-size: 3em;*/
}

h2 a
{
    color:#16A5A1;    
}

h2 a:hover
{
    color:#16A5A1; 
    text-decoration: none;
}

h3
{
    color:#16A5A1; 
    font-family:'oxygen-bold';
    font-weight: bolder;
    
}

.banner-title
{
    display: block;
    /*position: absolute;*/
    /*margin-top:20px;*/
}


.dot-one 
{
    position: relative;
    top:120px;
   
   
}


.linedot
{
    position: relative;
     -webkit-animation: move-line 2s;
    animation: move-line 2s;
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;   
    margin-left: 10px;
    

}


.dot-two
{
    position: relative;
    top:90px;
    left: 90px;
 
  
}

.line-dot-two
{
    position: absolute;
    top:180px;
     -webkit-animation: move-line-two 2s;
    animation: move-line-two 2s;
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;   
}


.dot-three
{
    position: relative;
    top:170px;
    left:0px;
}

.arrow-Right
{
    
    float: right;
    top:0px;
}


.arrow-Left
{
   
    float: left;
    top:0px;

}
.box-arrow
{
    position: absolute;
    
    width: 30%;   
}
.iphone-project
{
    position: absolute;
    top:150px;
    left:400px;
    /*top:150px;
    left: 700px;*/
}


.pole-banner
{
    display: none;
}

.pole-banner-bottom
{
    display: none;   
}

.content-back
{
    display: block;
    position: absolute;
    z-index: 100000;
}


h2:hover
{
    /*color:#66CCC5; 
    font-family:'oxygen-bold';
    font-size: 3em;*/
}

ul
{
    text-decoration: none;
}

li
{
    /*color:#66CCC5;*/
   
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}

li a
{
    font-family:'oxygen-bold';
    /*font-weight: bolder;*/
    font-size: 16px;
    /*color:#66CCC5;*/
     color:#16A5A1;
}


li a:hover
{
    font-family:'oxygen-light';
    color:#fad424 ; 
    text-decoration: none;
}


li .img-responsive
{
    display: block;
    max-width: 100%;
    height: auto;   
}


body#home a.about, body#experience a.experience, body#work a.work
{
    border-bottom: 3px solid #16A5A1;
}
.footer
{
   
    /* background-image: url(../images/footer.png); 
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
     background-repeat: no-repeat;
    display: block;
    max-width: 100%;
    height: auto;
    
    */

        background: url(../images/footer.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
     
        width: 100%;
        background-size: cover;

    
}

.yello-decoration
{
    text-decoration: none;
    border-bottom: 3px solid #fad424;
}

.pink-decoration
{
    text-decoration: none;
    border-bottom: 3px solid #e15858;
    
}

.green-decoration
{
    text-decoration: none;
    border-bottom: 3px solid #16A5A1;
}

.vertical-align
{
    display: block;
    vertical-align: bottom;
}

.row
{
    margin-bottom: 10px !important;   
}

.content-background
{
 
    background-color: #e2dede ;   
    height: auto;
    margin-top: -100px;
}


.content-background-expertise
{
    background-color: #e2dede ;   
    height: auto;
    margin-top: 0px;
}

.col-yellow
{
    background: url(../images/background-content.png);
    margin-top: -100px;
    height: 90px;
    z-index:-2;
    
}

.col-red
{
    background: url(../images/red-col.png);
    margin-top: -100px;
    height: 90px;
    z-index:-4;
    
}

.col
{
    /*padding: 0px !important;*/
   
}

.col-green
{
    background: url(../images/green-col.png);
    margin-top: -100px;
    height: 50px;
    z-index:-2;
}

.content-right
{
    display: block;
    text-align: left;
    
}

.align-left
{
    text-align: right;
}

.title
{
    color:white;
    font-size: 3em;
    font-weight: bolder;
    font-family:'oxygen-bold';
}

.content-font
{
    font-size: 16px;   
}

.btn-Pink
{
    background-color:#ffffff;
    border: 5px solid #e15858 !important;
    border-radius: 5px; 
    /*height: 40px;
    width: 200px;*/
    color:#e15858 !important;
    font-family:'oxygen-bold';
    
    text-align: center;
   
}

.btn-Pink:hover
{
    background-color:#e15858 !important;
    border: 5px solid #e15858 !important;
    border-radius: 5px; 
    /*height: 40px;
    width: 200px;*/
    color:white !important;
    
    text-align: center;
    text-decoration: none;
}

.btn-yellow
{
    background-color:#ffffff;
    border: 5px solid #fad424 !important;
    border-radius: 5px; 
    color:#fad424 !important;
    font-family:'oxygen-bold';
    
    text-align: center;
}

.btn-yellow:hover
{
    background-color:#fad424 !important;
    border: 5px solid #fad424 !important;
    border-radius: 5px; 
    color:white !important;
    text-align: center;
    text-decoration: none; 
}


.btn
{
    background-color:#ffffff;
    border: 5px solid #5dabfb;
    border-radius: 5px; 
    /*height: 40px;
    width: 200px;*/
    color:#5dabfb;
     font-family:'oxygen-bold';
}

.btn:hover
{
    background-color:#5dabfb;
    border: 5px solid #5dabfb;
    border-radius: 5px; 
    /*height: 40px;
    width: 200px;*/
    color:white;
}

.info-description
{
    font-size: 1.5em; 
    font-family: monospace;
}


.background-banner
{
    

    background: url(../images/banner.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    min-height: 400px;
    width: 100%;
    background-size: cover;

}


.menu-phone
{
    padding-top: 10px;   
}

.panel-menu
{
    width: 200px;
    padding: 20px;  
    text-align: center;
}

.panel-phone
{
    position: absolute;
    background-color: white;
    right: 0px;
    z-index:5;
}



.menu-items
{
    padding-left: 0px;
    display: block;
}


.table-responsive
{
    border:0px;
    
}


.space-top
{
    margin-top: 10px;   
}

.work-background
{
    background: url("../images/responsive.png") 0 0 no-repeat fixed;
    height: 223px;
    background-size: cover;
    width: 100%;
    margin-top: -20px;
}


.container-top
{
    padding-top: 63px;
}

@media (min-width: 768px) 
{
    h1{font-size:5em; } 
    p{font-size: 2em;}
    .col-yellow{height: 150px; visibility: visible;}
    .col-green{height: 130px;}
    .pole-banner{display: block; text-align: center;}
    .pole-banner-bottom {display: block; text-align: center;}
    .banner-title{margin-top:10px; text-align: center;}
    .info-description{padding-top:10px;font-size: 2em;}
    .title{font-size: 4em;}
   
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}



@media (max-width:768px)
{
    
 /* .table-responsive
    {
        width: 80% !important;
    }
    input
    {
        width: 100px;   
    }
    
    a.btn
    {
        width: 100px;   
    }
    textarea
    {
        width: 100px;   
    }*/
    
}

@media (min-width:992px) 
{  
    h1{font-size:6em; } 
    p{font-size: 3em;}
    .col-yellow{ height: 150px;visibility: visible;}
    .col-green{height: 130px;}
    .pole-banner{display: block;  text-align: left;}
    .pole-banner-bottom {display: block;  text-align: left;}
    .banner-title{margin-top:10px; text-align: left;}
    .info-description{text-align: right;padding-top:10px; font-size: 3em;}
    .title{font-size: 3.5em;}
    .iphone-project{left:280px; top:40px;}
}

@media (min-width:1200px)
{
     h1{font-size:8em; } 
     p{font-size: 3.5em;}
    .col-yellow{height: 150px; visibility: visible;}
    .col-green{height: 130px;}
    .pole-banner{display: block;  text-align: left;}
    .pole-banner-bottom {display: block;  text-align: left;}
    .banner-title{margin-top:10px; text-align: left; }
    .info-description{text-align: right;padding-top:10px;font-size: 3.5em;}
    .title{font-size: 4em;}
    .iphone-project{top:150px;}
}


ins
{
    color:#e15858;
}

.like
{
    background-image: url(../images/like.png);
    height: 100px;
    width: 110px;
    background-repeat: no-repeat;
}

.like:hover
{
    
    /*background-image: url(../images/like-two.png);  */
    background: url('../images/like-two.png'); 
    background-repeat: no-repeat;
}
.align
{
    text-align: center;  
    display: block;

}

.align-info-me
{
     text-align: center;  
    display: block;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.contact-form
{
    border:5px solid #e15858;
    width: 100%;
    /*height: 300px;*/
    height: auto;
    background-color: white;
    border-radius: 8px;  
    /*padding: 25px;*/
    margin: 0 auto;
    padding: 2px;
}


.bullets-work
{
    display: block;
    text-align: center;
}

tr td
{
    border-top:0px !important;
}


.col-border
{
    margin-top: 20px;
    border: 8px solid #e15858;
    width: 50%;
}


.fb:hover 
{

	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ 
	
}

.me
{
    display: block;
    position: relative;  
    
    top:-120px;
    width: 10%;
     margin: 0 auto;
}

#text-me
{
    background-color: white;
    border-radius: 5px;
    bottom: 26px;
    color: #e15858;
    content: attr(title);
    left:43%;
    padding:10px;
    position: absolute;
    z-index: 98;
    /*width: auto;*/
    width: 400px;
    display: block;
    
}

#text-me p
{
    color: #e15858;
}

#down-info
{
    text-align: center;
}

/*.down-info
{
    text-align: center;
}

.down-info:hover:after
{
    background-color: white;
    border-radius: 5px;
    bottom: 26px;
    color: #e15858;
    content: attr(title);
    left:43%;
    padding:10px;
    position: absolute;
    z-index: 98;
    width: 220px;
    display: block;
}*/

.find
{
    display: inline;
    position: relative;   
}


.find:hover:after{
    background: #ffffff;
    border-radius: 5px;
    bottom: 26px;
    color: #e15858;
    content: attr(title);
    left: 20%;
    padding:10px;
    position: absolute;
    z-index: 98;
    width: 120px;
}


/*.find:hover
{
   
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    

}*/


#title-me
{
   -webkit-animation: move 1s; /* Chrome, Safari, Opera */
    animation: move 1s;
    position: relative;
}

#description
{
    
     -webkit-animation: moveRight 1s; /* Chrome, Safari, Opera */
    animation: moveRight 1s;
    position: relative;
    
}



#computer
{
    -webkit-animation: moveRight 1s; /* Chrome, Safari, Opera */
    animation: moveRight 1s;
    position: relative;
}


#text-me
{
    /* -webkit-animation: moveTop 1s; /* Chrome, Safari, Opera */
  /*  animation: moveTop 1s;
    position: relative;*/
}


.img
{
    display: block;
    /*left: 10px;
    margin-left: -10px;*/
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    /*width: 660px;
    height: 275px;*/
}

.box
{
    z-index: 9;
    cursor: default;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.box:hover >img
{
    -webkit-transform:scale(5);
    -moz-transform:scale(5);
    -o-transform:scale(5);
    -ms-transform:scale(5);
    transform: scale(5);
    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter:alpha (opacity=30);
    opacity: 0.3;

}

.btnExperience
{
    border-radius: 30px;
    border-color: black;
    background: white;
    width: 30px;
    height: 30px;
    content:"";
    position: absolute;
    z-index: 10;
}

.btn-dot
{
   position: relative; 
}

.slider-one
{
    width: 100%;
    background: white;
    /*position: absolute;*/
    height: 200px;
}

.font-black
{
    font-size: 14px;
    color: #aaaaaa;
    
}

.cd-timeline-content p 
{
  color: #aaaaaa;
    font-size: 18px;
}

.cd-timeline-content h2
{
    font-size: 25px;
}   

.cd-timeline-img.cd-vsl {
  background: #ffffff;
}

.banner-title-center
{
    text-align: center;
    font-size:2em;

}


.container-banner
{

    display: block;
    vertical-align: middle;
    margin-top: 20px;


}

.error
{
    color:red;
}

@-webkit-keyframes move {
     from 
    {
       
        left: -2000px;
    }   
    to
    {
         
        left:0;
    }
}

@keyframes move
{
    from 
    {
       
        left: -2000px;
    }   
    to
    {
         
        left:0;
    }
    
    
}


@-webkit-keyframes moveRight {
     from 
    {
       
        right: -300px;
    }   
    to
    {
         
        right:0;
    }
}

@keyframes moveRight
{
    from 
    {
       
        right: -300px;
    }   
    to
    {
         
        right:0px;
    }
    
    
}


@-webkit-keyframes moveTop {
     from 
    {
       
        top: -300px;
    }   
    to
    {
         
        top:0;
    }
}

@keyframes moveTop
{
    from 
    {
       
        top: -300px;
    }   
    to
    {
         
        top:0px;
    }
    
    
}




@-webkit-keyframes move-line
{
    /*0%{top:120;left:4;background:white; width:2px; height:10px;}
    25%{top:120;left:4;background:white; width:2px; height:20px;}
    50%{top:120;left:4;background:white; width:2px;height:30px;}
    75%{top:120;left:4;background:white; width:2px;height:70px;}
    100%{top:120;left:4;background:white;width:2px;
    height:86px;}*/
    0%{background:#5dabfb;height:30px;width:10px;}
    25%{background:#5dabfb;height:30px;width:50px;}
    50%{background:#5dabfb;height:30px;width:80px;}
    75%{background:#5dabfb;height:30px;width:90px;}
    100%{background:#5dabfb;height:30px;width:200px;}
    
    
}

@-webkit-keyframes move-line-two
{
    0%{top:195px;left:20px; background:white;width:2px; height:2px; }
    25%{top:195px;left:20px; background:white;width:2px;height:2px; }
    50%{top:195px;left:20px; background:white;width:20px;height:2px; }
    75%{top:195px;left:20px; background:white;width:50px;height:2px; }
    100%{top:195px;left:20px; background:white;width:95px;height:2px; 
    }











/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
    
    
